<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="16384" maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <aspNetCore requestTimeout="00:01:00"/>
  </system.webServer>

</configuration>
